@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    src: url(assets/fonts/source-sans-pro/SourceSansPro-Black.otf);
    font-family: "Source Sans Pro";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.po-rel {
    position: relative;
}
.po-abs {
    position: absolute;
}
.jcs {
    justify-content: space-between;
}
.row {
    display: flex;
}
.navbar {
    display: flex;
    line-height: 50px;
    padding: 10px;
    justify-content: space-between;
}
.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
.padd {
    padding: 50px 0;
}
.padd-bot {
    padding-bottom: 75px;
}
.marg {
    margin-top: 50px;
}
.sec4-bg {
    background-color: #202020;
}
.sec4 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.sec4 .col50 {
    width: 50%;
}
.sec4 .left {
    padding-right: 50px;
}
.sec4 .sec4-img {
    width: 100%;
}
.sec4 .sec4-img img {
    width: 100%;
}
.left h1 {
    font-size: 36px;
    letter-spacing: 4px;
    color: #f4f5f9;
    font-weight: 700;
    font-family: "Source Sans Pro";
    text-align: right;
    padding: 40px 0;
}
.sec4 .left h3 {
    font-size: 18px;
    line-height: 29px;
    color: #e74c3c;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: right;
    padding: 20px 0;
}
.sec4 .left p {
    font-size: 14px;
    line-height: 29px;
    color: #999999;
    font-weight: 400;
    font-family: "Source Sans Pro";
    text-align: right;
    margin: opx 10px;
}
.sec4-logo1-pos {
    left: 724px;
    top: 170px;
}
.sec4-logo2-pos {
    top: 300px;
}
.sec4-logo3-pos {
    top: 420px;
}
.img{
    border-radius:35px ;
}